<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.ipfs.videoshare">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="io.ipfs.videoshare.Updata_list"></activity>
        <activity android:name="io.ipfs.videoshare.erweima"></activity>
        <activity android:name=".one.Type_list"></activity>
        <activity android:name=".one.Video_list"></activity>

        <activity
            android:name=".Bofangqi"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" /> <!-- or android:screenOrientation="landscape"-->
        <meta-data
            android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
            android:value="GlideModule" />

    </application>

</manifest>